{% load static %}
{% load i18n %} <!-- automatic translation -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacy Management System</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    {% block extra_css %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="{% static 'images/pharmacy-icon.svg' %}" type="image/svg+xml">
</head>
<body>
    <div class="container">
        <!-- Vertical Navigation Menu -->
        <nav class="sidebar">
            <ul>
                <li><a href="{% url 'homepage' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'user_list' %}">{% trans "Users" %}</a></li>
                <li><a href="{% url 'customer_list' %}">{% trans "Customers" %}</a></li>
                <li><a href="{% url 'manufacturer_list' %}">{% trans "Manufacturers" %}</a></li>
                <li><a href="{% url 'category_list' %}">{% trans "Categories" %}</a></li>
                <li><a href="{% url 'product_list' %}">{% trans "Products" %}</a></li>
                <li><a href="{% url 'inventory_list' %}">{% trans "Inventory" %}</a></li>
                <li><a href="{% url 'purchase_transaction_list' %}">{% trans "Purchase Transactions" %}</a></li>
                <li><a href="{% url 'sale_transaction_list' %}">{% trans "Sale Transactions" %}</a></li>
                <li><a href="{% url 'discount_list' %}">{% trans "Discounts" %}</a></li>
                <li><a href="{% url 'activity_log_list' %}">{% trans "Activity Logs" %}</a></li>
                <li><a href="{% url 'report' %}">{% trans "Reports" %}</a></li>
                <li><a href="#" onclick="logout(event)">{% trans "Logout" %}</a></li>
            </ul>
        </nav>
        
        <!-- Logout Form (hidden) -->
        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
            {% csrf_token %}
        </form>
        <!-- Main Content Area -->
        <div class="main-content">
            <!-- Header for all pages -->
            <header>
                <div style="display: flex; align-items: center;">
                    <div style="flex: 1; text-align: center;">
                        <h1>{% blocktrans with first_name=request.user.first_name appname=APP_NAME %}Hello {{ first_name }}! Welcome to {{ appname }}!{% endblocktrans %}</h1>
                    </div>

                    <div style="display: flex; gap: 10px;">
                        <form method="post" action="{% url 'switch_language' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-small btn-green">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% if LANGUAGE_CODE == 'de' %}
                                    <img src="{% static 'images/gb.svg' %}" alt="GB" style="width:20px; height:auto;">
                                    English
                                {% else %}
                                    <img src="{% static 'images/de.svg' %}" alt="GB" style="width:20px; height:auto;">
                                    Deutsch
                                {% endif %}
                            </button>
                        </form>

                        <button id="theme-toggle" class="btn btn-small btn-green" style="display: flex; align-items: center; gap: 6px;">
                            <img id="icon-sun" src="{% static 'images/moon.svg' %}" alt="Moon icon" style="width:20px; height:auto; display:none;">
                            <img id="icon-moon" src="{% static 'images/sun.svg' %}" alt="Sun icon" style="width:20px; height:auto; display:none;">
                            <span id="theme-text"></span>
                        </button>
                    </div>
                </div>
            </header>
            
            <!-- Messages -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message }}
                            <button class="close-msg" aria-label="Close message">&times;</button>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            <!-- Content block -->
            {% block content %}
            <!-- Content will be inserted here -->
            {% endblock %}

            <!-- Footer for all pages -->
            <footer>
                <p>© 2025 {{ APP_NAME }}</p>
            </footer>
        </div>        
    </div>

    <script id="theme-i18n" type="application/json">
    {
        "dark": "{% trans 'Dark Theme' %}",
        "light": "{% trans 'Light Theme' %}"
    }
    </script>


    <script>
        function logout(event) {
            event.preventDefault();
            document.getElementById('logout-form').submit();
        }
        
        // Button to close messages
        document.addEventListener('DOMContentLoaded', function() {
            // Attach click listeners to all close buttons
            document.querySelectorAll('.close-msg').forEach(function(button) {
                button.addEventListener('click', function() {
                    // Hide the parent <li> message
                    this.parentElement.style.display = 'none';
                });
            });
        });
        
        // Theme toggle functionality
        document.addEventListener('DOMContentLoaded', function () {
            const toggleBtn = document.getElementById('theme-toggle');
            const iconSun = document.getElementById('icon-sun');
            const iconMoon = document.getElementById('icon-moon');
            const themeText = document.getElementById('theme-text');
            const themeLabels = JSON.parse(document.getElementById('theme-i18n').textContent);

            function setTheme(theme) {
                if (theme === 'light') {
                    document.body.classList.add('light-theme');
                    iconSun.style.display = 'inline';
                    iconMoon.style.display = 'none';
                    themeText.textContent = themeLabels.dark;;
                } else {
                    document.body.classList.remove('light-theme');
                    iconSun.style.display = 'none';
                    iconMoon.style.display = 'inline';
                    themeText.textContent = themeLabels.light;
                }
            }

            let currentTheme = localStorage.getItem('theme') || 'dark';
            setTheme(currentTheme);

            toggleBtn.addEventListener('click', () => {
                currentTheme = document.body.classList.contains('light-theme') ? 'dark' : 'light';
                localStorage.setItem('theme', currentTheme);
                setTheme(currentTheme);
            });
        });
    </script>

    {% block extra_js %}{% endblock %}
</body>
</html>
