{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <div class="list-container">
        <h2>Financial Summary</h2>

        <form method="get">
            {{ form.as_p }}
            <button class="submit-btn" type="submit">Generate</button>
        </form>

        {% if form.is_valid %}
            <h3>Results from {{ form.cleaned_data.from_date }} to {{ form.cleaned_data.to_date }}:</h3>
            <ul>
                <li><strong>Total Purchase Cost:</strong> {{ total_purchase|floatformat:2|intcomma }} €</li>
                <li><strong>Total Sales Revenue:</strong> {{ total_sales|floatformat:2|intcomma }} €</li>
                <li><strong>Estimated Profit:</strong> {{ profit|floatformat:2|intcomma }} €</li>
            </ul>

            {% if product_summary %}
            <h3>Product Summary</h3>
            <table class="global-table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Purchased Quantity</th>
                        <th>Sold Quantity</th>
                        <th>Total Spent (€)</th>
                        <th>Total Earned (€)</th>
                        <th>Profit (€)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in product_summary %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.purchased_quantity }}</td>
                            <td>{{ item.sold_quantity }}</td>
                            <td>{{ item.total_spent|floatformat:2|intcomma }}</td>
                            <td>{{ item.total_earned|floatformat:2|intcomma }}</td>
                            <td>{{ item.profit|floatformat:2|intcomma }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

            <form action="{% url 'export_financial_summary_pdf' %}" method="get" style="margin-top: 20px;">
                <input type="hidden" name="from_date" value="{{ form.cleaned_data.from_date|date:'Y-m-d' }}">
                <input type="hidden" name="to_date" value="{{ form.cleaned_data.to_date|date:'Y-m-d' }}">
                <button type="submit" class="submit-btn">Export to PDF</button>
            </form>

            {% if form.errors %}
                <div class="form-errors">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li>{{ field }}: {{ errors|join:", " }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

        {% endif %}
    </div>
{% endblock %}