{% extends 'base.html' %}
{% load i18n %} <!-- automatic translation -->

{% block content %}
  <div class="list-container">
    <div class="tab-container">
      <a href="?tab=expiring" class="tab {% if active_tab == 'expiring' %}active{% endif %}">
        {% trans "Expiring Products" %} ({{ expiring_count }})
      </a>
      <a href="?tab=lowstock" class="tab {% if active_tab == 'lowstock' %}active{% endif %}">
        {% trans "Low Stock" %} ({{ low_stock_count }})
      </a>
    </div>

    {% if active_tab == 'expiring' %}
      <div class="inventory-overview">        
        {% if inventory_page_obj %}
        <h2 class="list-title">{% trans "Expiring Products" %}</h2>
        <table class="global-table">
          <thead>
            <tr>
              <th>{% trans "Product" %}</th>
              <th>{% trans "Quantity" %}</th>
              <th>{% trans "Expiry Date" %}</th>
              <th>{% trans "Status" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for item in inventory_page_obj %}
              {% if item.expiry_date < today %}
                  <tr class="expired">
                      <td>{{ item.product.name }}</td>
                      <td>{{ item.quantity }}</td>
                      <td>{{ item.expiry_date }}</td>
                      <td>{% trans "Expired" %}</td>
                  </tr>
              {% elif item.days_diff <= 7 %}
                  <tr class="critical">
                      <td>{{ item.product.name }}</td>
                      <td>{{ item.quantity }}</td>
                      <td>{{ item.expiry_date }}</td>
                      <td>{% blocktrans with days_diff=item.days_diff %}Expiring in {{ days_diff }} days{% endblocktrans %}</td>
                  </tr>
              {% elif item.days_diff <= 30 %}
                  <tr>
                      <td>{{ item.product.name }}</td>
                      <td>{{ item.quantity }}</td>
                      <td>{{ item.expiry_date }}</td>
                      <td>{% blocktrans with days_diff=item.days_diff %}Expiring in {{ days_diff }} days{% endblocktrans %}</td>
                  </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>

        <!-- Pagination Controls for Expiring -->
        {% include "components/pagination.html" with page_obj=inventory_page_obj query_string=inventory_query page_param="page" anchor="expiring" pagination_id="expiring" %}
        {% else %}
            <p style="text-align: center;">{% trans "No expiring products currently." %}</p>
        {% endif %} <!-- if inventory_page_obj -->
      </div> <!-- div class="inventory-overview" -->
    {% elif active_tab == 'lowstock' %}
      <h2 class="list-title">{% trans "Low Stock" %}</h2>
      {% if low_stock_page_obj %}
      <table class="global-table">
          <thead>
              <tr>
                  <th>{% trans "Product" %}</th>
                  <th>{% trans "Category" %}</th>
                  <th>{% trans "Quantity" %}</th>
              </tr>
          </thead>
          <tbody>
              {% for item in low_stock_page_obj %}
              <tr>
                  <td>{{ item.product.name }}</td>
                  <td>{{ item.product.category.name }}</td>
                  <td>{{ item.total_quantity }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>

      <!-- Pagination Controls for Low Stock -->
      {% include "components/pagination.html" with page_obj=low_stock_page_obj query_string=low_stock_query page_param="lowstockpage" anchor="lowstock" pagination_id="lowstock" %}

      {% else %}
          <p style="text-align: center;">{% trans "No low stock products currently." %}</p>
      {% endif %} <!-- if low_stock_page_obj -->
    {% endif %} <!-- if active_tab == 'expiring' -->

  </div> <!-- div class="list-container" -->
{% endblock %}
