{% extends 'base.html' %}

{% block content %}
    <div class="list-container">

        <h2 class="list-title">Inventory List</h2>

        <!-- Search Form -->
        <form method="GET" class="search-container">
            <input type="text" name="product_name" placeholder="Search by Product Name" value="{{ product_name_query }}">
            <input type="text" name="manufacturer_name" placeholder="Search by Manufacturer Name" value="{{ manufacturer_name_query }}">
        
            <label for="sort_by">Sort By:</label>
            <select name="sort_by" id="sort_by">
                <option value="updated_at" {% if sort_by == 'updated_at' %}selected{% endif %}>Latest Update</option>
                <option value="expiry_date" {% if sort_by == 'expiry_date' %}selected{% endif %}>Expiry Date</option>
            </select>
        
            <button type="submit">Search</button>
        </form>        

        <table class="global-table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Manufacturer Name</th>
                    <th>Sale Price</th>
                    <th>Quantity</th>
                    <th>Expiry Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventory_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.manufacturer.name }}</td>
                    <td>{{ item.product.price_sale }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.expiry_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
     
{% endblock %}
