# Virtual environments
env/
venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# IDEs and editors
.vscode/
.idea/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
*.manifest
*.spec

# PyInstaller
*.manifest
*.spec

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Other temporary files
*.bak
*.tmp

# dotenv environment variable files
.env

# Scripts
create_admin.py
dummy_data.py
